.btn,.btn2 {
    color: #fff;
    background: #0079c1;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    padding: 8px 45px;
    display: inline-block;
    
    /* Un-skew the text */
  }
  .btn{
    transform: skew(21deg);
  }
  .btn2:hover {
    background: #5622c7;
  }
  .category{
    margin-top: 50px;
  }

  .btn > span {
    display: inline-block;
    transform: skew(-21deg);
  }
  .btn2{
    border-radius: 25px;
  }
  
  /* Ignore everything below this line */
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
.title{
    display: flex;
    justify-content: center;
    
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 30px;
    margin-left: 10%;
  }

  .main{
    display: flex;
    justify-content: center;
    margin: 100px 15%;
    align-items: center;
}
  .pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  